@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237616DD'/%3E%3Cstop offset='1' stop-color='%231D0433'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2318E0FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2318E0FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@layer base {
  @font-face {
    font-family: 'Dana';
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'DanaBold';
    src: url(../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2)
      format('woff2');
  }
  @font-face {
    font-family: 'DanaRegular';
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'MorabbaLight';
    src: url(../public/fonts/Morabba/woff2/Morabba-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Morabba';
    src: url(../public/fonts/Morabba/woff2/Morabba-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'MorabbaBold';
    src: url(../public/fonts/Morabba/woff2/Morabba-Bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'),
      url(../public/fonts/Inter/Inter-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Inter ExtraBold';
    src: url(../public/fonts/Inter/Inter-ExtraBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    src: url(../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins Medium';
    src: url(../public/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins Bold';
    src: url(../public/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins Black';
    src: url(../public/fonts/Poppins/Poppins-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins Light';
    src: url(../public/fonts/Poppins/Poppins-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins SemiBold';
    src: url(../public/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins Thin';
    src: url(../public/fonts/Poppins/Poppins-Thin.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Hilda';
    src: url(../public/fonts/Hilda/Hilda.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Maneli';
    src: url(../public/fonts/Maneli/Maneli.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Aviny';
    src: url(../public/fonts/Aviny/avinyweb.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSans';
    src: url(../public/fonts/IRANSans/IRANSansWeb.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSansBlack';
    src: url(../public/fonts/IRANSans/IRANSansWebBlack.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSansBold';
    src: url(../public/fonts/IRANSans/IRANSansWebBold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSansLight';
    src: url(../public/fonts/IRANSans/IRANSansWebLight.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSansMedium';
    src: url(../public/fonts/IRANSans/IRANSansWebMedium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'IRANSansUltraLight';
    src: url(../public/fonts/IRANSans/IRANSansWebUltraLight.woff2)
      format('woff2');
  }
  @font-face {
    font-family: 'Pelak';
    src: url(../public/fonts/Pelak/PelakFA-Medium.woff2) format('woff2');
  }
}
